<div class="container bg-light">
  <div class="row">
    <div class="col-md4 col-md-offset-4">
      <form role="form" class="form-horizontal">
        <fieldset>
          <div class="form-group">

            <p> Currently selected card for trading: <b>{{trade.cardToTrade}}</b></p>
            <label class="col-sm-5 control-label">Choose a new card</label>
            <div class="col-10">
              <select [(ngModel)]="ownCards" (ngModelChange)="onChangeOwnCard($event)" [ngModelOptions]="{standalone: true}" required #ownCard="ngModel">
                <option *ngFor="let ownCard of ownCards" [ngValue]="ownCard" > {{ownCard.name}}</option>
              </select>
              <div *ngIf="ownCard.invalid && (ownCard.dirty || ownCard.touched)" class="alert alert-danger">
                <div *ngIf="ownCard.errors?.['required']">
                  A card to trade is required
                </div>
              </div>
            </div>

            <p> Currently selected card for receiving: <b>{{trade.cardToReceive}}</b></p>
            <label class="col-sm-5 control-label">Choose a card another user has</label>
            <div class="col-10">
              <select [(ngModel)]="otherCards" (ngModelChange)="onChangeOtherCard($event)" [ngModelOptions]="{standalone: true}" required #otherCard="ngModel">
                <option *ngFor="let otherCard of otherCards" [ngValue]="otherCard" > {{otherCard.name}}</option>
              </select>
              <div *ngIf="otherCard.invalid && (otherCard.dirty || otherCard.touched)" class="alert alert-danger">
                <div *ngIf="otherCard.errors?.['required']">
                  A card to receive is required
                </div>
              </div>
            </div>

          </div>
          <br>
          <button class="btn btn-primary" (click)="back()">back</button>
          <button [disabled]="!otherCard || !ownCard" type="submit" class="btn btn-primary" (click)="onSubmit()">Update</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
