<div class="container detail bg-light">
  <div class="row">
    <div class="col-4">
      <a class="btn btn-primary btn-sm float-right" href="#" role="button" routerLink="edit">Edit</a>
    </div>

    <h1>{{ collection.collectionName}}</h1>
    <p>Set: {{ collection.collectionSetName }}</p>
    <p>Amount: {{ collection.numberOfCards }}</p>
    <p>Set Created On: {{ collection.creationDate }}</p>
    <p> Locked: {{collection.locked}}</p>
      <div class="col-2" *ngFor="let card of collection.cards">
        <a *ngIf="card.obtained" (click)="openCardDetail(card.id)"><img class="zoom" src="{{ card.card_images[0].image_url_small }}" alt=""></a>
        <a id="wrapper" *ngIf="!card.obtained" (click)="openCardDetail(card.id)"><img id="myImage" class="zoom" src="{{ card.card_images[0].image_url_small }}" alt=""></a>
      </div>

  </div>

</div>

