<div class="container list bg-light">
  <div class="row">
    <div class="col">
      <a class="btn btn-primary btn-sm float-right" role="button" routerLinkActive="active" routerLink="new">New</a>
    </div>
    <table class="table table-striped table-hover bg-light">
      <thead>
      <th>Id</th>
      <th>CollectionName</th>
      <th>Collection SetName</th>
      <th>NumberOfCards</th>
<!--      <th>Created</th>-->
      <th>Locked</th>
      </thead>
      <tbody>
      <tr *ngFor="let collection of collections">
        <td>
          <!--TODO: This routerlink is giving off anti attribute errors during tests, find a fix-->
          <a routerLink="{{ collection._id }}">{{ collection._id }}</a>
        </td>
        <td>{{ collection.collectionName }}</td>
        <td>{{ collection.collectionSetName }}</td>
        <td>{{ collection.numberOfCards }}</td>
        <td>{{ collection.creationDate }}</td>
        <td>{{ collection.locked }}</td>
        <button class="btn-danger text-black" id="remove" (click)="deleteRow(collection._id, collection.collectionName)">DELETE COLLECTION</button>
      </tr>
      </tbody>
    </table>
  </div>
</div>
